<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
</head>
<body>
<h2>Enter details of new user</h2>>
<br>
<br>
<br>
<form th:method="PATCH"  th:action="@{/update/{id}(id = ${user.id})}"  th:object="${user}">
  <label for="name">name</label>
  <input type="text" th:field="*{name}" placeholder="Write your name" id="name"/>
  <br>
  <label for="surname">surname</label>
  <input type="text" th:field="*{surname}" placeholder="Write your surname" id="surname"/>
  <br>
  <label for="age">age</label>
  <input type="text" th:field="*{age}" placeholder="Write your age" id="age"/>
  <br>
  <input type="submit" value="submit"/>
</form>
</body>
</html>